@import "../../styles/mixins.scss";
@import "../../styles/constants.scss";
@import "../../styles/breakpoints.scss";

.random_board-builder-table {
  max-height: $builder-table-col * 10 + 100px;
  max-width: $builder-table-col * 10 + 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: $builder-table-col;

  .random_board-letters {
    position: absolute;
    top: 0px;
    left: $builder-table-col + 1;
  }

  .random_board-numbers {
    position: absolute;
    top: $builder-table-col + 1;
    left: 0px;
  }

  table {
    border: 1px solid $builder-table-color;
  }

  tr {
    border: 1px solid $builder-table-color;
  }

  td {
    border: 1px solid $builder-table-color;

    & > div {
      height: $builder-table-col;
      width: $builder-table-col;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      position: relative;

      img {
        height: $builder-table-col - 10;
        width: auto;
      }
    }

    .disabled {
      &::after {
        content: "";
        height: 5px;
        width: 5px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // background-color: white;
      }
    }

    .one,
    .two,
    .three,
    .four {
      position: relative;
    }
  }

  .hover-state:not(.disabled) {
    position: relative;

    &.dir-x {
      &.length-1 {
        &::after {
          @include shipShadow(
            rgb(22, 222, 22),
            $builder-table-col,
            $builder-table-col
          );
        }
      }

      &.length-2 {
        &::after {
          @include shipShadow(
            rgb(22, 222, 22),
            $builder-table-col,
            $builder-table-col * 2
          );
        }
      }

      &.length-3 {
        &::after {
          @include shipShadow(
            rgb(22, 222, 22),
            $builder-table-col,
            $builder-table-col * 3
          );
        }
      }

      &.length-4 {
        &::after {
          @include shipShadow(
            rgb(22, 222, 22),
            $builder-table-col,
            $builder-table-col * 4
          );
        }
      }
    }

    &.dir-y {
      &.length-1 {
        &::after {
          @include shipShadow(
            rgb(22, 222, 22),
            $builder-table-col,
            $builder-table-col
          );
        }
      }

      &.length-2 {
        &::after {
          @include shipShadow(
            rgb(22, 222, 22),
            $builder-table-col * 2,
            $builder-table-col
          );
        }
      }

      &.length-3 {
        &::after {
          @include shipShadow(
            rgb(22, 222, 22),
            $builder-table-col * 3,
            $builder-table-col
          );
        }
      }

      &.length-4 {
        &::after {
          @include shipShadow(
            rgb(22, 222, 22),
            $builder-table-col * 4,
            $builder-table-col
          );
        }
      }
    }
  }

  // SETED SHIPS
  .seted-ship {
    position: absolute;
    // z-index: 1;
    top: 0;
    left: 0;
    @include svg-color($builder-ship-color);

    &.dir-x {
      &.ship-1-1,
      &.ship-1-2,
      &.ship-1-3,
      &.ship-1-4 {
        @include svg-size($builder-table-col, $builder-table-col);
      }

      &.ship-2-1,
      &.ship-2-2,
      &.ship-2-3 {
        @include svg-size($builder-table-col, $builder-table-col * 2);
      }

      &.ship-3-1,
      &.ship-3-2 {
        @include svg-size($builder-table-col, $builder-table-col * 3);
      }

      &.ship-4-1 {
        @include svg-size($builder-table-col, $builder-table-col * 4);
      }
    }

    &.dir-y {
      &.ship-1-1,
      &.ship-1-2,
      &.ship-1-3,
      &.ship-1-4 {
        @include svg-size($builder-table-col, $builder-table-col);
      }

      &.ship-2-1,
      &.ship-2-2,
      &.ship-2-3 {
        @include svg-size($builder-table-col * 2, $builder-table-col);
      }

      &.ship-3-1,
      &.ship-3-2 {
        @include svg-size($builder-table-col * 3, $builder-table-col);
      }

      &.ship-4-1 {
        @include svg-size($builder-table-col * 4, $builder-table-col);
      }
    }
  }
}

// MOBILE
@media (max-width: $breakpoint-down-xs) {
  .random_board-builder-table {
    max-height: $builder-xs-table-col * 10 + 100px;
    max-width: $builder-xs-table-col * 10 + 100px;
    padding: $builder-xs-table-col;

    .random_board-letters {
      left: $builder-xs-table-col + 1;
    }

    .random_board-numbers {
      top: $builder-xs-table-col + 1;
    }

    table {
      border: 1px solid $builder-table-color;
    }

    tr {
      border: 1px solid $builder-table-color;
    }

    td {
      border: 1px solid $builder-table-color;

      & > div {
        height: $builder-xs-table-col;
        width: $builder-xs-table-col;

        img {
          height: $builder-xs-table-col - 10;
        }
      }
    }

    .hover-state:not(.disabled) {
      &.dir-x {
        &.length-1 {
          &::after {
            @include shipShadow(
              rgb(22, 222, 22),
              $builder-xs-table-col,
              $builder-xs-table-col
            );
          }
        }

        &.length-2 {
          &::after {
            @include shipShadow(
              rgb(22, 222, 22),
              $builder-xs-table-col,
              $builder-xs-table-col * 2
            );
          }
        }

        &.length-3 {
          &::after {
            @include shipShadow(
              rgb(22, 222, 22),
              $builder-xs-table-col,
              $builder-xs-table-col * 3
            );
          }
        }

        &.length-4 {
          &::after {
            @include shipShadow(
              rgb(22, 222, 22),
              $builder-xs-table-col,
              $builder-xs-table-col * 4
            );
          }
        }
      }

      &.dir-y {
        &.length-1 {
          &::after {
            @include shipShadow(
              rgb(22, 222, 22),
              $builder-xs-table-col,
              $builder-xs-table-col
            );
          }
        }

        &.length-2 {
          &::after {
            @include shipShadow(
              rgb(22, 222, 22),
              $builder-xs-table-col * 2,
              $builder-xs-table-col
            );
          }
        }

        &.length-3 {
          &::after {
            @include shipShadow(
              rgb(22, 222, 22),
              $builder-xs-table-col * 3,
              $builder-xs-table-col
            );
          }
        }

        &.length-4 {
          &::after {
            @include shipShadow(
              rgb(22, 222, 22),
              $builder-xs-table-col * 4,
              $builder-xs-table-col
            );
          }
        }
      }
    }

    // SETED SHIPS
    .seted-ship {
      @include svg-color($builder-ship-color);

      &.dir-x {
        &.ship-1-1,
        &.ship-1-2,
        &.ship-1-3,
        &.ship-1-4 {
          @include svg-size($builder-xs-table-col, $builder-xs-table-col);
        }

        &.ship-2-1,
        &.ship-2-2,
        &.ship-2-3 {
          @include svg-size($builder-xs-table-col, $builder-xs-table-col * 2);
        }

        &.ship-3-1,
        &.ship-3-2 {
          @include svg-size($builder-xs-table-col, $builder-xs-table-col * 3);
        }

        &.ship-4-1 {
          @include svg-size($builder-xs-table-col, $builder-xs-table-col * 4);
        }
      }

      &.dir-y {
        &.ship-1-1,
        &.ship-1-2,
        &.ship-1-3,
        &.ship-1-4 {
          @include svg-size($builder-xs-table-col, $builder-xs-table-col);
        }

        &.ship-2-1,
        &.ship-2-2,
        &.ship-2-3 {
          @include svg-size($builder-xs-table-col * 2, $builder-xs-table-col);
        }

        &.ship-3-1,
        &.ship-3-2 {
          @include svg-size($builder-xs-table-col * 3, $builder-xs-table-col);
        }

        &.ship-4-1 {
          @include svg-size($builder-xs-table-col * 4, $builder-xs-table-col);
        }
      }
    }
  }
}

// XXS MOBILE
@media (max-width: $breakpoint-down-xxs) {
  .random_board-builder-table {
    max-height: $builder-xxs-table-col * 10 + 100px;
    max-width: $builder-xxs-table-col * 10 + 100px;
    padding: $builder-xxs-table-col;

    .random_board-letters {
      left: $builder-xxs-table-col + 1;
    }

    .random_board-numbers {
      top: $builder-xxs-table-col + 1;
    }

    table {
      border: 1px solid $builder-table-color;
    }

    tr {
      border: 1px solid $builder-table-color;
    }

    td {
      border: 1px solid $builder-table-color;

      & > div {
        height: $builder-xxs-table-col;
        width: $builder-xxs-table-col;

        img {
          height: $builder-xxs-table-col - 10;
        }
      }
    }

    .hover-state:not(.disabled) {
      &.dir-x {
        &.length-1 {
          &::after {
            @include shipShadow(
              rgb(22, 222, 22),
              $builder-xxs-table-col,
              $builder-xxs-table-col
            );
          }
        }

        &.length-2 {
          &::after {
            @include shipShadow(
              rgb(22, 222, 22),
              $builder-xxs-table-col,
              $builder-xxs-table-col * 2
            );
          }
        }

        &.length-3 {
          &::after {
            @include shipShadow(
              rgb(22, 222, 22),
              $builder-xxs-table-col,
              $builder-xxs-table-col * 3
            );
          }
        }

        &.length-4 {
          &::after {
            @include shipShadow(
              rgb(22, 222, 22),
              $builder-xxs-table-col,
              $builder-xxs-table-col * 4
            );
          }
        }
      }

      &.dir-y {
        &.length-1 {
          &::after {
            @include shipShadow(
              rgb(22, 222, 22),
              $builder-xxs-table-col,
              $builder-xxs-table-col
            );
          }
        }

        &.length-2 {
          &::after {
            @include shipShadow(
              rgb(22, 222, 22),
              $builder-xxs-table-col * 2,
              $builder-xxs-table-col
            );
          }
        }

        &.length-3 {
          &::after {
            @include shipShadow(
              rgb(22, 222, 22),
              $builder-xxs-table-col * 3,
              $builder-xxs-table-col
            );
          }
        }

        &.length-4 {
          &::after {
            @include shipShadow(
              rgb(22, 222, 22),
              $builder-xxs-table-col * 4,
              $builder-xxs-table-col
            );
          }
        }
      }
    }

    // SETED SHIPS
    .seted-ship {
      @include svg-color($builder-ship-color);

      &.dir-x {
        &.ship-1-1,
        &.ship-1-2,
        &.ship-1-3,
        &.ship-1-4 {
          @include svg-size($builder-xxs-table-col, $builder-xxs-table-col);
        }

        &.ship-2-1,
        &.ship-2-2,
        &.ship-2-3 {
          @include svg-size($builder-xxs-table-col, $builder-xxs-table-col * 2);
        }

        &.ship-3-1,
        &.ship-3-2 {
          @include svg-size($builder-xxs-table-col, $builder-xxs-table-col * 3);
        }

        &.ship-4-1 {
          @include svg-size($builder-xxs-table-col, $builder-xxs-table-col * 4);
        }
      }

      &.dir-y {
        &.ship-1-1,
        &.ship-1-2,
        &.ship-1-3,
        &.ship-1-4 {
          @include svg-size($builder-xxs-table-col, $builder-xxs-table-col);
        }

        &.ship-2-1,
        &.ship-2-2,
        &.ship-2-3 {
          @include svg-size($builder-xxs-table-col * 2, $builder-xxs-table-col);
        }

        &.ship-3-1,
        &.ship-3-2 {
          @include svg-size($builder-xxs-table-col * 3, $builder-xxs-table-col);
        }

        &.ship-4-1 {
          @include svg-size($builder-xxs-table-col * 4, $builder-xxs-table-col);
        }
      }
    }
  }
}
