@import "../../styles/mixins.scss";
@import "../../styles/constants.scss";
@import "../../styles/breakpoints.scss";

.board_container {
  max-height: $game-table-col * 10 + 100px;
  max-width: $game-table-col * 10 + 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: $game-table-col;

  .board-letters {
    position: absolute;
    top: 0px;
    left: $game-table-col + 1;
  }

  .board-numbers {
    position: absolute;
    top: $game-table-col + 1;
    left: 0px;
  }
}

.game-board-toaster {
  border: 1px solid black;
  padding: 0px 10px;
  height: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2px;
  background: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.board_container {
  table {
    border: 1px solid $game-table-color;
  }

  tr {
    border: 1px solid $game-table-color;
  }

  td {
    border: 1px solid $game-table-color;

    .content-wrapper {
      height: $game-table-col;
      width: $game-table-col;
      display: flex;
      justify-content: center;
      align-items: center;

      &.enableShot {
        cursor: pointer;
      }

      &.disableShot {
        cursor: not-allowed;
        pointer-events: none;
      }
    }

    .content {
      height: $game-table-col;
      width: $game-table-col;
    }

    .shoted {
      position: relative;
      background-color: $game-table-disabled-color;
    }

    .injured {
      position: relative;
      background-color: transparent;
      background-image: url("../../../public/images/gameAssets/boom.gif");
      background-size: cover;
      animation: injureShip 1s ease-in forwards;
      height: $game-table-col;
      width: $game-table-col;

      @keyframes injureShip {
        0% {
          background-image: url("../../../public/images/gameAssets/boom.gif");
          background-size: cover;
          z-index: 3;
        }

        100% {
          background-image: none;
        }
      }
    }

    .disabled {
      position: relative;
      background-color: $game-table-disabled-color;
    }

    .crashed {
      position: relative;
      background-image: url("../../../public/images/gameAssets/boom.gif");
      background-size: cover;
      animation: crashShip 2s ease-in forwards;
      height: $game-table-col;
      width: $game-table-col;

      @keyframes crashShip {
        0% {
          background-image: url("../../../public/images/gameAssets/boom.gif");
          background-size: cover;
          z-index: 3;
        }

        100% {
          background-image: none;
          background-color: $game-table-disabled-color;
        }
      }
    }
  }
}

.container {
  height: $game-table-col;
  width: $game-table-col;
  position: relative;

  .seted-ship {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    @include svg-color($game-ship-color);

    &.dir-x {
      &.ship-1-1,
      &.ship-1-2,
      &.ship-1-3,
      &.ship-1-4 {
        @include svg-size($game-table-col, $game-table-col);
      }

      &.ship-2-1,
      &.ship-2-2,
      &.ship-2-3 {
        @include svg-size($game-table-col, $game-table-col * 2);
      }

      &.ship-3-1,
      &.ship-3-2 {
        @include svg-size($game-table-col, $game-table-col * 3);
      }

      &.ship-4-1 {
        @include svg-size($game-table-col, $game-table-col * 4);
      }
    }

    &.dir-y {
      &.ship-1-1,
      &.ship-1-2,
      &.ship-1-3,
      &.ship-1-4 {
        @include svg-size($game-table-col, $game-table-col);
      }

      &.ship-2-1,
      &.ship-2-2,
      &.ship-2-3 {
        @include svg-size($game-table-col * 2, $game-table-col);
      }

      &.ship-3-1,
      &.ship-3-2 {
        @include svg-size($game-table-col * 3, $game-table-col);
      }

      &.ship-4-1 {
        @include svg-size($game-table-col * 4, $game-table-col);
      }
    }
  }
}

// shoted
.shot-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  @include svg-size($game-table-shot-size, $game-table-shot-size);

  &.shoted-shot {
    @include svg-color($game-table-shot-color);
  }

  &.injured-shot {
    @include svg-color($game-table-injured-color);
  }

  &.crashed-shot {
    @include svg-color($game-table-crashed-color);
  }
}

@media (min-width: $breakpoint-up-sm) {
  .container {
    &.targeted.container {
      background: rgba($color: #dcd4d4, $alpha: 0.3);
    }
  }
}

// XXL
@media (max-width: $breakpoint-down-xxl) {
  .board_container {
    max-height: $game-xxl-table-col * 10 + 100px;
    max-width: $game-xxl-table-col * 10 + 100px;
    padding: $game-xxl-table-col;

    .board-letters {
      left: $game-xxl-table-col + 1;
    }

    .board-numbers {
      top: $game-xxl-table-col + 1;
    }
  }

  .board_container {
    td {
      .content-wrapper {
        height: $game-xxl-table-col;
        width: $game-xxl-table-col;
      }

      .content {
        height: $game-xxl-table-col;
        width: $game-xxl-table-col;
      }

      .injured {
        height: $game-xxl-table-col;
        width: $game-xxl-table-col;
      }

      .crashed {
        height: $game-xxl-table-col;
        width: $game-xxl-table-col;
      }
    }
  }

  .container {
    height: $game-xxl-table-col;
    width: $game-xxl-table-col;
    .seted-ship {
      &.dir-x {
        &.ship-1-1,
        &.ship-1-2,
        &.ship-1-3,
        &.ship-1-4 {
          @include svg-size($game-xxl-table-col, $game-xxl-table-col);
        }

        &.ship-2-1,
        &.ship-2-2,
        &.ship-2-3 {
          @include svg-size($game-xxl-table-col, $game-xxl-table-col * 2);
        }

        &.ship-3-1,
        &.ship-3-2 {
          @include svg-size($game-xxl-table-col, $game-xxl-table-col * 3);
        }

        &.ship-4-1 {
          @include svg-size($game-xxl-table-col, $game-xxl-table-col * 4);
        }
      }

      &.dir-y {
        &.ship-1-1,
        &.ship-1-2,
        &.ship-1-3,
        &.ship-1-4 {
          @include svg-size($game-xxl-table-col, $game-xxl-table-col);
        }

        &.ship-2-1,
        &.ship-2-2,
        &.ship-2-3 {
          @include svg-size($game-xxl-table-col * 2, $game-xxl-table-col);
        }

        &.ship-3-1,
        &.ship-3-2 {
          @include svg-size($game-xxl-table-col * 3, $game-xxl-table-col);
        }

        &.ship-4-1 {
          @include svg-size($game-xxl-table-col * 4, $game-xxl-table-col);
        }
      }
    }
  }

  // shoted
  .shot-img {
    @include svg-size($game-xxl-table-shot-size, $game-xxl-table-shot-size);
  }
}

// XL
@media (max-width: $breakpoint-down-xl) {
  .board_container {
    max-height: $game-xl-table-col * 10 + 100px;
    max-width: $game-xl-table-col * 10 + 100px;
    padding: $game-xl-table-col;

    .board-letters {
      left: $game-xl-table-col + 1;
    }

    .board-numbers {
      top: $game-xl-table-col + 1;
    }
  }

  .board_container {
    td {
      .content-wrapper {
        height: $game-xl-table-col;
        width: $game-xl-table-col;
      }

      .content {
        height: $game-xl-table-col;
        width: $game-xl-table-col;
      }

      .injured {
        height: $game-xl-table-col;
        width: $game-xl-table-col;
      }

      .crashed {
        height: $game-xl-table-col;
        width: $game-xl-table-col;
      }
    }
  }

  .container {
    height: $game-xl-table-col;
    width: $game-xl-table-col;
    .seted-ship {
      &.dir-x {
        &.ship-1-1,
        &.ship-1-2,
        &.ship-1-3,
        &.ship-1-4 {
          @include svg-size($game-xl-table-col, $game-xl-table-col);
        }

        &.ship-2-1,
        &.ship-2-2,
        &.ship-2-3 {
          @include svg-size($game-xl-table-col, $game-xl-table-col * 2);
        }

        &.ship-3-1,
        &.ship-3-2 {
          @include svg-size($game-xl-table-col, $game-xl-table-col * 3);
        }

        &.ship-4-1 {
          @include svg-size($game-xl-table-col, $game-xl-table-col * 4);
        }
      }

      &.dir-y {
        &.ship-1-1,
        &.ship-1-2,
        &.ship-1-3,
        &.ship-1-4 {
          @include svg-size($game-xl-table-col, $game-xl-table-col);
        }

        &.ship-2-1,
        &.ship-2-2,
        &.ship-2-3 {
          @include svg-size($game-xl-table-col * 2, $game-xl-table-col);
        }

        &.ship-3-1,
        &.ship-3-2 {
          @include svg-size($game-xl-table-col * 3, $game-xl-table-col);
        }

        &.ship-4-1 {
          @include svg-size($game-xl-table-col * 4, $game-xl-table-col);
        }
      }
    }
  }

  // shoted
  .shot-img {
    @include svg-size($game-xl-table-shot-size, $game-xl-table-shot-size);
  }
}

// LG
@media (max-width: $breakpoint-down-lg) {
  .board_container {
    max-height: $game-lg-table-col * 10 + 100px;
    max-width: $game-lg-table-col * 10 + 100px;
    padding: $game-lg-table-col;

    .board-letters {
      left: $game-lg-table-col + 1;
    }

    .board-numbers {
      top: $game-lg-table-col + 1;
    }
  }

  .board_container {
    td {
      .content-wrapper {
        height: $game-lg-table-col;
        width: $game-lg-table-col;
      }

      .content {
        height: $game-lg-table-col;
        width: $game-lg-table-col;
      }

      .injured {
        height: $game-lg-table-col;
        width: $game-lg-table-col;
      }

      .crashed {
        height: $game-lg-table-col;
        width: $game-lg-table-col;
      }
    }
  }

  .container {
    height: $game-lg-table-col;
    width: $game-lg-table-col;
    .seted-ship {
      &.dir-x {
        &.ship-1-1,
        &.ship-1-2,
        &.ship-1-3,
        &.ship-1-4 {
          @include svg-size($game-lg-table-col, $game-lg-table-col);
        }

        &.ship-2-1,
        &.ship-2-2,
        &.ship-2-3 {
          @include svg-size($game-lg-table-col, $game-lg-table-col * 2);
        }

        &.ship-3-1,
        &.ship-3-2 {
          @include svg-size($game-lg-table-col, $game-lg-table-col * 3);
        }

        &.ship-4-1 {
          @include svg-size($game-lg-table-col, $game-lg-table-col * 4);
        }
      }

      &.dir-y {
        &.ship-1-1,
        &.ship-1-2,
        &.ship-1-3,
        &.ship-1-4 {
          @include svg-size($game-lg-table-col, $game-lg-table-col);
        }

        &.ship-2-1,
        &.ship-2-2,
        &.ship-2-3 {
          @include svg-size($game-lg-table-col * 2, $game-lg-table-col);
        }

        &.ship-3-1,
        &.ship-3-2 {
          @include svg-size($game-lg-table-col * 3, $game-lg-table-col);
        }

        &.ship-4-1 {
          @include svg-size($game-lg-table-col * 4, $game-lg-table-col);
        }
      }
    }
  }

  // shoted
  .shot-img {
    @include svg-size($game-lg-table-shot-size, $game-lg-table-shot-size);
  }
}

// MD
@media (max-width: $breakpoint-down-md) {
  .board_container {
    max-height: $game-md-table-col * 10 + 100px;
    max-width: $game-md-table-col * 10 + 100px;
    padding: $game-md-table-col;

    .board-letters {
      left: $game-md-table-col + 1;
    }

    .board-numbers {
      top: $game-md-table-col + 1;
    }
  }

  .board_container {
    td {
      .content-wrapper {
        height: $game-md-table-col;
        width: $game-md-table-col;
      }

      .content {
        height: $game-md-table-col;
        width: $game-md-table-col;
      }

      .injured {
        height: $game-md-table-col;
        width: $game-md-table-col;
      }

      .crashed {
        height: $game-md-table-col;
        width: $game-md-table-col;
      }
    }
  }

  .container {
    height: $game-md-table-col;
    width: $game-md-table-col;
    .seted-ship {
      &.dir-x {
        &.ship-1-1,
        &.ship-1-2,
        &.ship-1-3,
        &.ship-1-4 {
          @include svg-size($game-md-table-col, $game-md-table-col);
        }

        &.ship-2-1,
        &.ship-2-2,
        &.ship-2-3 {
          @include svg-size($game-md-table-col, $game-md-table-col * 2);
        }

        &.ship-3-1,
        &.ship-3-2 {
          @include svg-size($game-md-table-col, $game-md-table-col * 3);
        }

        &.ship-4-1 {
          @include svg-size($game-md-table-col, $game-md-table-col * 4);
        }
      }

      &.dir-y {
        &.ship-1-1,
        &.ship-1-2,
        &.ship-1-3,
        &.ship-1-4 {
          @include svg-size($game-md-table-col, $game-md-table-col);
        }

        &.ship-2-1,
        &.ship-2-2,
        &.ship-2-3 {
          @include svg-size($game-md-table-col * 2, $game-md-table-col);
        }

        &.ship-3-1,
        &.ship-3-2 {
          @include svg-size($game-md-table-col * 3, $game-md-table-col);
        }

        &.ship-4-1 {
          @include svg-size($game-md-table-col * 4, $game-md-table-col);
        }
      }
    }
  }

  // shoted
  .shot-img {
    @include svg-size($game-md-table-shot-size, $game-md-table-shot-size);
  }
}

// SM
@media (max-width: $breakpoint-down-sm) {
  .board_container {
    max-height: $game-sm-table-col * 10 + 100px;
    max-width: $game-sm-table-col * 10 + 100px;
    padding: $game-sm-table-col;

    .board-letters {
      left: $game-sm-table-col + 1;
    }

    .board-numbers {
      top: $game-sm-table-col + 1;
    }
  }

  .board_container {
    td {
      .content-wrapper {
        height: $game-sm-table-col;
        width: $game-sm-table-col;
      }

      .content {
        height: $game-sm-table-col;
        width: $game-sm-table-col;
      }

      .injured {
        height: $game-sm-table-col;
        width: $game-sm-table-col;
      }

      .crashed {
        height: $game-sm-table-col;
        width: $game-sm-table-col;
      }
    }
  }

  .container {
    height: $game-sm-table-col;
    width: $game-sm-table-col;
    .seted-ship {
      &.dir-x {
        &.ship-1-1,
        &.ship-1-2,
        &.ship-1-3,
        &.ship-1-4 {
          @include svg-size($game-sm-table-col, $game-sm-table-col);
        }

        &.ship-2-1,
        &.ship-2-2,
        &.ship-2-3 {
          @include svg-size($game-sm-table-col, $game-sm-table-col * 2);
        }

        &.ship-3-1,
        &.ship-3-2 {
          @include svg-size($game-sm-table-col, $game-sm-table-col * 3);
        }

        &.ship-4-1 {
          @include svg-size($game-sm-table-col, $game-sm-table-col * 4);
        }
      }

      &.dir-y {
        &.ship-1-1,
        &.ship-1-2,
        &.ship-1-3,
        &.ship-1-4 {
          @include svg-size($game-sm-table-col, $game-sm-table-col);
        }

        &.ship-2-1,
        &.ship-2-2,
        &.ship-2-3 {
          @include svg-size($game-sm-table-col * 2, $game-sm-table-col);
        }

        &.ship-3-1,
        &.ship-3-2 {
          @include svg-size($game-sm-table-col * 3, $game-sm-table-col);
        }

        &.ship-4-1 {
          @include svg-size($game-sm-table-col * 4, $game-sm-table-col);
        }
      }
    }
  }

  // shoted
  .shot-img {
    @include svg-size($game-sm-table-shot-size, $game-sm-table-shot-size);
  }
}

// XS
@media (max-width: $breakpoint-down-xs) {
  .board_container {
    max-height: $game-xs-table-col * 10 + 100px;
    max-width: $game-xs-table-col * 10 + 100px;
    padding: $game-xs-table-col;

    .board-letters {
      left: $game-xs-table-col + 1;
    }

    .board-numbers {
      top: $game-xs-table-col + 1;
    }
  }

  .board_container {
    td {
      .content-wrapper {
        height: $game-xs-table-col;
        width: $game-xs-table-col;
      }

      .content {
        height: $game-xs-table-col;
        width: $game-xs-table-col;
      }

      .injured {
        height: $game-xs-table-col;
        width: $game-xs-table-col;
      }

      .crashed {
        height: $game-xs-table-col;
        width: $game-xs-table-col;
      }
    }
  }

  .container {
    height: $game-xs-table-col;
    width: $game-xs-table-col;
    .seted-ship {
      &.dir-x {
        &.ship-1-1,
        &.ship-1-2,
        &.ship-1-3,
        &.ship-1-4 {
          @include svg-size($game-xs-table-col, $game-xs-table-col);
        }

        &.ship-2-1,
        &.ship-2-2,
        &.ship-2-3 {
          @include svg-size($game-xs-table-col, $game-xs-table-col * 2);
        }

        &.ship-3-1,
        &.ship-3-2 {
          @include svg-size($game-xs-table-col, $game-xs-table-col * 3);
        }

        &.ship-4-1 {
          @include svg-size($game-xs-table-col, $game-xs-table-col * 4);
        }
      }

      &.dir-y {
        &.ship-1-1,
        &.ship-1-2,
        &.ship-1-3,
        &.ship-1-4 {
          @include svg-size($game-xs-table-col, $game-xs-table-col);
        }

        &.ship-2-1,
        &.ship-2-2,
        &.ship-2-3 {
          @include svg-size($game-xs-table-col * 2, $game-xs-table-col);
        }

        &.ship-3-1,
        &.ship-3-2 {
          @include svg-size($game-xs-table-col * 3, $game-xs-table-col);
        }

        &.ship-4-1 {
          @include svg-size($game-xs-table-col * 4, $game-xs-table-col);
        }
      }
    }
  }

  // shoted
  .shot-img {
    @include svg-size($game-xs-table-shot-size, $game-xs-table-shot-size);
  }
}

// XXS
@media (max-width: $breakpoint-down-xxs) {
  .board_container {
    max-height: $game-xxs-table-col * 10 + 100px;
    max-width: $game-xxs-table-col * 10 + 100px;
    padding: $game-xxs-table-col;

    .board-letters {
      left: $game-xxs-table-col + 1;
    }

    .board-numbers {
      top: $game-xxs-table-col + 1;
    }
  }

  .board_container {
    td {
      .content-wrapper {
        height: $game-xxs-table-col;
        width: $game-xxs-table-col;
      }

      .content {
        height: $game-xxs-table-col;
        width: $game-xxs-table-col;
      }

      .injured {
        height: $game-xxs-table-col;
        width: $game-xxs-table-col;
      }

      .crashed {
        height: $game-xxs-table-col;
        width: $game-xxs-table-col;
      }
    }
  }

  .container {
    height: $game-xxs-table-col;
    width: $game-xxs-table-col;
    .seted-ship {
      &.dir-x {
        &.ship-1-1,
        &.ship-1-2,
        &.ship-1-3,
        &.ship-1-4 {
          @include svg-size($game-xxs-table-col, $game-xxs-table-col);
        }

        &.ship-2-1,
        &.ship-2-2,
        &.ship-2-3 {
          @include svg-size($game-xxs-table-col, $game-xxs-table-col * 2);
        }

        &.ship-3-1,
        &.ship-3-2 {
          @include svg-size($game-xxs-table-col, $game-xxs-table-col * 3);
        }

        &.ship-4-1 {
          @include svg-size($game-xxs-table-col, $game-xxs-table-col * 4);
        }
      }

      &.dir-y {
        &.ship-1-1,
        &.ship-1-2,
        &.ship-1-3,
        &.ship-1-4 {
          @include svg-size($game-xxs-table-col, $game-xxs-table-col);
        }

        &.ship-2-1,
        &.ship-2-2,
        &.ship-2-3 {
          @include svg-size($game-xxs-table-col * 2, $game-xxs-table-col);
        }

        &.ship-3-1,
        &.ship-3-2 {
          @include svg-size($game-xxs-table-col * 3, $game-xxs-table-col);
        }

        &.ship-4-1 {
          @include svg-size($game-xxs-table-col * 4, $game-xxs-table-col);
        }
      }
    }
  }

  // shoted
  .shot-img {
    @include svg-size($game-xxs-table-shot-size, $game-xxs-table-shot-size);
  }
}

// EXTRA SMALL
.extra_small {
  &.board_container {
    max-height: $game-extra-small-table-col * 10 + 100px;
    max-width: $game-extra-small-table-col * 10 + 100px;
    padding: $game-extra-small-table-col;

    .board-letters {
      left: $game-extra-small-table-col + 1;
    }

    .board-numbers {
      top: $game-extra-small-table-col + 1;
    }
  }

  td {
    .content-wrapper {
      height: $game-extra-small-table-col;
      width: $game-extra-small-table-col;
    }

    .content {
      height: $game-extra-small-table-col;
      width: $game-extra-small-table-col;
    }

    .injured {
      height: $game-extra-small-table-col;
      width: $game-extra-small-table-col;
    }

    .crashed {
      height: $game-extra-small-table-col;
      width: $game-extra-small-table-col;
    }
  }
  .container {
    height: $game-extra-small-table-col;
    width: $game-extra-small-table-col;
    .seted-ship {
      &.dir-x {
        &.ship-1-1,
        &.ship-1-2,
        &.ship-1-3,
        &.ship-1-4 {
          @include svg-size(
            $game-extra-small-table-col,
            $game-extra-small-table-col
          );
        }

        &.ship-2-1,
        &.ship-2-2,
        &.ship-2-3 {
          @include svg-size(
            $game-extra-small-table-col,
            $game-extra-small-table-col * 2
          );
        }

        &.ship-3-1,
        &.ship-3-2 {
          @include svg-size(
            $game-extra-small-table-col,
            $game-extra-small-table-col * 3
          );
        }

        &.ship-4-1 {
          @include svg-size(
            $game-extra-small-table-col,
            $game-extra-small-table-col * 4
          );
        }
      }

      &.dir-y {
        &.ship-1-1,
        &.ship-1-2,
        &.ship-1-3,
        &.ship-1-4 {
          @include svg-size(
            $game-extra-small-table-col,
            $game-extra-small-table-col
          );
        }

        &.ship-2-1,
        &.ship-2-2,
        &.ship-2-3 {
          @include svg-size(
            $game-extra-small-table-col * 2,
            $game-extra-small-table-col
          );
        }

        &.ship-3-1,
        &.ship-3-2 {
          @include svg-size(
            $game-extra-small-table-col * 3,
            $game-extra-small-table-col
          );
        }

        &.ship-4-1 {
          @include svg-size(
            $game-extra-small-table-col * 4,
            $game-extra-small-table-col
          );
        }
      }
    }
  }

  // shoted
  .shot-img {
    @include svg-size(
      $game-extra-small-table-shot-size,
      $game-extra-small-table-shot-size
    );
  }
}
