@import '../../../styles/mixins.scss';

.avatars-modal__wrapper {
  padding: 20px 10px 10px;
}

.avatars-modal__content {
  width: 360px;
  padding: 0px 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 340px;
  overflow: auto;

  @include custom-scroll-bar;

  .avatar-img-wrapper {
    width: 100px;
    height: 100px;
    border: 2px solid transparent;
    margin-bottom: 20px;
    cursor: pointer;

    &.selected {
      border: 2px solid yellow;
    }

    .avatar-img {
      width: 96px;
      height: 96px;
      object-fit: fill;
    }
  }
}