@import '../../../styles/mixins.scss';

.flags-modal__wrapper {
  padding: 20px 10px 10px;
}

.flags-modal__content {
  padding: 0px 10px 0px;
  width: 340px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 340px;
  overflow: auto;
  @include custom-scroll-bar;

  .flag-img-wrapper {
    width: auto;
    height: 100px;
    border: 2px solid transparent;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 22px;

    &.selected {
      border: 2px solid yellow;
    }

    .flag-img {
      width: auto;
      height: 96px;
      object-fit: fill;
    }
  }
}