.game_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  .back-button {
    position: absolute;
    top: -30px;
    left: 10px;
  }
}

.game_container__game {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.game-section {
  height: 100%;
  max-width: 48%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  .panel-section {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
  }
}