@import "../../styles/breakpoints.scss";
@import "../../styles/constants.scss";

.game_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.game_container__game {
  width: 100%;
  height: calc(100vh - 50px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.game-section {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;

  &.bot-section {
    justify-content: flex-end;
  }

  .panel-section {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 240px;
  }
}

// XXL
@media (max-width: $breakpoint-down-xxl) {
  .game_container {
    .panel-section {
      width: 200px;
    }
  }
}

// XL
@media (max-width: $breakpoint-down-xl) {
  .game_container {
    .game_container__game {
      .game-section {
        flex-direction: column;

        &.bot-section {
          flex-direction: column-reverse;
        }
        .panel-section {
          height: auto;
          width: 100%;
        }
      }
    }
  }
}

// LG
@media (max-width: $breakpoint-down-lg) {
}

// MD
@media (max-width: $breakpoint-down-md) {
}

// SM
@media (max-width: $breakpoint-down-sm) {
  .game_container {
    width: 100%;
    height: calc(100vh - 50px);
    height: calc(100svh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .game_container__game {
      width: 100%;
      height: auto;
      min-height: calc(100vh - 50px);
      min-height: calc(100svh - 50px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 0px;
      overflow: auto;

      .game-section {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 0px;

        &.bot-section {
          flex-direction: column;
        }
      }
    }
  }
}
