@import "../../styles/mixins.scss";
@import "../../styles/constants.scss";
@import "../../styles/breakpoints.scss";

.nav-bar {
  width: 100%;
  height: $header-height;
  background: #000514;
  padding: 0px $page-padding;
  display: flex;
  justify-content: center;
  align-items: center;

  &__logo {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__settings {
    @include center;
    gap: 12px;
    border: none;
    background: transparent;
    cursor: pointer;

    .nav-bar__username {
      font-size: 16px;
      font-weight: bold;
      color: #ffffff;
    }

    .nav-bar__avatar {
      @include center;
      height: 36px;
      width: 36px;
      border: 1px solid #ffffff;
      border-radius: 50%;
      overflow: hidden;

      img {
        height: 30px;
        width: 30px;
      }
    }
  }

  // &__items {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: center;
  //   align-items: center;
  // }

  // &__item {
  //   color: #999;
  //   margin: 0px 20px;
  //   text-decoration: none;
  //   text-transform: capitalize;

  //   &:hover {
  //     color: #fff;
  //   }

  //   &.active {
  //     color: #fff;
  //   }
  // }

  // &__user {
  //   color: #fff;
  //   display: flex;
  //   flex-direction: row;
  //   align-items: center;

  //   &--username {
  //     margin: 0px 10px;
  //   }
  // }
}

@media (max-width: $breakpoint-down-xs) {
  .nav-bar {
    height: $header-mobile-height;
    padding: $page-mobile-padding;
  }
}
