.close_game_dialog {
  &--description {
    top: 60px;
    position: relative;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: yellow;
    text-transform: capitalize;
  }
}