@import "../../styles/constants.scss";
@import "../../styles/mixins.scss";
@import "../../styles/breakpoints.scss";

.random_board-builder {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 40px 0px 0px;
}

.random_board-builder-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}

.random_board-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.random_board-table-wrapper {
  position: relative;
}

.random_board-buttons {
  width: 100%;
  max-width: $builder-table-col * 10 + 10;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-bottom: 20px;
}

// MOBILE
@media (max-width: $breakpoint-down-xs) {
  .random_board-builder {
    padding: 24px 0px 0px;

    .random_board-buttons {
      margin-top: 12px;
      max-width: $builder-xs-table-col * 10 + 10;
    }
  }
}

// MOBILE XXS
@media (max-width: $breakpoint-down-xxs) {
  .random_board-builder {
    .random_board-buttons {
      max-width: $builder-xxs-table-col * 10 + 10;
    }
  }
}
