@import "../../styles/constants.scss";
@import "../../styles/mixins.scss";

.random_board-builder {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 40px 0px 0px;
}

.random_board-builder-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
}

.random_board-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.random_board-table-wrapper {
  position: relative;
}

.random_board-buttons {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;

  button {
    border: none;
    border-radius: 2px;
    border: 2px solid #f3e116;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    background: transparent;

    .button_icon {
      @include svg-color(#f3e116);
      @include svg-size(30px, 30px);

      &.spin {
        animation: spin-the-thing 0.3s infinite;

        @keyframes spin-the-thing {
          from {
            transform: rotate(0deg);
          }

          to {
            transform: rotate(360deg);
          }
        }
      }

    }
  }
}