@import "../../../styles/mixins.scss";
@import "../../../styles/breakpoints.scss";
@import "../../../styles/constants.scss";

.modal-wrapper {
  color: #000;
  height: 100vh;
  height: 100svh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  padding: 2px $page-padding;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  overflow: auto;
}

.modal-content {
  border: 3px solid #3281bd;
  background-color: #01317d;
  min-height: 260px;
  min-width: 200px;
  z-index: 100;
  max-height: calc(100vh - 4px);
  max-height: calc(100svh - 4px);
  overflow-y: auto;
  overflow-x: hidden;

  &.with-animation {
    animation: slideDownFadeIn 0.2s ease-out;
  }

  &__header {
    height: 60px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background: #000514;
    width: 100%;
    padding: 0px;

    .modal-title-wrapper {
      padding: 0px 12px;
      @include center;
      flex-grow: 1;
    }

    .close-button {
      flex-shrink: 0;
      height: 60px;
      width: 60px;
      cursor: pointer;
      background: red;
      display: flex;
      justify-content: center;
      align-items: center;
      @include svg-color(#fff);
      @include svg-size(25px, 25px);
      transition: all 0.25s ease;

      &:hover {
        background: darken($color: red, $amount: 10);
      }
    }

    .modal-title {
      color: #fff;
      text-transform: uppercase;
      font-size: 28px;
      font-weight: bold;
      text-align: center;
    }
  }

  &__body {
    min-height: 200px;
  }

  &__footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px 24px;
    gap: 10px;

    .submit-button {
      border: none;
      border-radius: 4px;
      background: #f3e116;
      padding: 12px 30px;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.25s ease;
      white-space: nowrap;

      &:hover {
        background: darken($color: #f3e116, $amount: 10);
      }
    }
  }

  &.md {
    min-height: 260px;
    min-width: 300px;

    .modal-content__header {
      height: 40px;

      .close-button {
        height: 40px;
        width: 40px;
        @include svg-size(20px, 20px);
      }

      .modal-title {
        font-size: 16px;
      }
    }

    .modal-content__body {
      min-height: 200px;
    }

    .modal-content__footer {
      padding: 8px 8px 24px;

      .submit-button {
        padding: 12px 25px;
        font-size: 16px;
      }
    }
  }
}

@media (max-width: $breakpoint-down-sm) {
  .modal-wrapper {
    padding: 2px 12px;

    .modal-content {
      max-height: calc(100vh - 4px);
      max-height: calc(100svh - 4px);
    }
  }
}

@keyframes slideDownFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-200px) scale(1);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
